body {
	background-color: brown;
	background-size: cover;
	font-weight: bold;
	text-align: center;
	color: blue;
}
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h2 {
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 20px;
}
button {
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-weight: bold;
	width: 200px;
	margin-bottom: 5px;
	border-radius: 5px;
	background: orange;
	font-weight : bolder;
}

#increment-btn {
	background: darkred;
}
#save-btn {
	background: darkgreen;
	box-shadow: none;
}
#save-el {
	text-align: none;
	color: black;
	font-weight: bolder;
}
#num1-el {
	color: white;
	font-size: 20px;
}
#num2-el {
	color: white;
	font-size: 20px;
}
#nike-el {
	color: white;
	font-size: 15px;
}